.awards__container {
  width: 90%;
  margin: 40px auto;

  ul {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;


    @media screen and (max-width: 700px) {

    }

    li {
      list-style: none;
      height: 180px;
      width: 180px;
      text-align: center;

      

      img {
        width: 100%;
        height: 100%;
      }

      span {
        display: block;
        font-family: $font-tertiary;
      }

      span.name {
        font-size: 1.3rem;
        color: var(--color-gray);
      }

      span.position {
        font-size: 1rem;
        color: var(--color-gray);
      }

      span.position.winner {
        font-size: 1rem;
        color: #fabe19;
      }
    }
  }
}

.acc__block {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;

  .acc {
    color: var(--color-gray);
    font-size: 2.5rem;

    @media screen and (max-width: 700px) {
        font-size: 1.5rem;
    }

    @media screen and (max-width: 500px) {
        font-size: .8rem;
    }
  }

  .acc__title {
    color: var(--color-gray);
    font-size: 2.5rem;

    @media screen and (max-width: 700px) {
        font-size: 1.5rem;
    }

    @media screen and (max-width: 500px) {
        font-size: 1rem;
        margin-left: 1rem;
    }
  }

  .acc__toggle-icon {
    color: var(--color-gray);
  }
}


[data-collapse] {
    cursor: pointer;
}

.heightzero {
    height: 0;
}